/*------------- checkbox alignment for html checkbox---------------- */
ul {
  list-style-position: inside;
  padding-left: 0;
  font-weight: normal
}



/*------------- checkbox alignment for markdown checkbox---------------- */

input[type="checkbox"] {
        margin-right: 0.5ch;
      }


/*------------- GitHub boxes that look like the buttons on GitHub---------------- */

.github_button {
    border-radius: 8px;
    border: 1px solid #black;
    background: #20873e;
    color: white !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

/*------------- png boxes button style---------------- */


.github_gray_button {
    border-radius: 8px;
    border: 1px solid #black;
    background: #E8E8E8;
    color: black !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.png_button {
    position: absolute; /*----placement of button--*/
    top: 20px; /*----placement of button--*/
    right: 5%; /*----placement of button--*/
    border: 4px solid #black;
    border-radius: 8px;
    background: lightgray;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}



/*------------- timestamp style---------------- */
.time {
  margin-top:60px;
  font-size: 20px;
}

/*------------- authors style ---------------- */
div.authors {
  text-indent: 0%;
  list-style-position: outside;
  font-size: 11px;
  font-style: italic;
  line-height: 1.6;
}

/*------------- button link color---------------- */


.github_button a:link{
    color: #fff;
}

.png_button a:link{
    color: black;
}

.github_button a:visited{
    color: #fff;
}

/*------------- box around title and title font ---------------- */

.header_box {
  margin: auto;
  font-family: 'Avenir';
  font-size: 40px;
  color: #193a5c;
  font-weight: 500;
  border-radius: 8px; /*---rounded box ---*/
  border: 4px solid #986753;
  background: #90ceff;
  color: #565a59;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  width: 440px;
  height: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

/*-----------icon------*/

.icon{
  width: 3%;
}

}

/*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: 'Karla', arial, sans-serif;
}

/*------------- Change header color---------------- */

h1, h2, h3 {
  font-family: 'Lora', arial, sans-serif;
  color:#5ca5ff;
}

/*------------- Change link color---------------- */

a {
  color: #0598a8;
}

/*------------- Numbering for header level 2 ---------------- */

body {
  margin-top:100px; /*--leave room after header---*/
 /*- padding-top: 50px;--- */
  counter-reset: h2;
}

h2::before {
  counter-increment: h2;
  content: counter(h2) ". ";
}

/*------------- add warning and github boxes---------------- */


div.warning{
  border: 4px #e0471c;
  border-style: solid;
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  background-color: #e8ebee;
}

div.warning{
  background-image: url("images/warning.png");
}

div.github{
  border: 4px #000000;
  border-style: solid;
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  background-color: #e8ebee;
}

div.github{
  background-image: url("images/github.png");
}


